.header{
    background-color: #E4E8CE;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 30px;
    text-align: center;
    width: 60%;
    height: 37.5px;
    margin-left: 20%;
}

#box{
    background-color: #37DC96;
    border: 10px solid #E4E8CE;
    border-radius: 30px;
    width: 60%;
    text-align: center;
}

.form-box {
    padding-top: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2.5%;
    border-radius: 30px;
}

.text-box {
    height: 250px;
}

.foot{
    background-color: #E4E8CE;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 30px;
    text-align: center;
    width: 60%;
    height: 37.5px;
    margin-left: 20%;
    padding-top: 9px;
}